.weight-400 {
    font-weight: 400;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.font-32 {
    font-size: 32px;
}

.font-40 {
    font-size: 40px;
}

.font-60 {
    font-size: 60px;
}

.font-75 {
    font-size: 75px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;    
    text-align: left;
}

.align-center {
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.absolute {
    position: absolute;
}

.abs-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.relative {
    position: relative;
}

.width-100 {
    width: 100%;
}

.radius-10 {
    border-radius: 10px;
}

.radius-20 {
    border-radius: 20px;
}

.circle {
    border-radius: 50%;    
}

.center {
    margin: auto;
    text-align: center;
}

.m-0 {
    margin: 0;
}

.margin-r-10 {
    margin-right: 10px;
}

.margin-r-25 {
    margin-right: 25px;
}

.margin-r-50 {
    margin-right: 50px;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-b-30 {
    margin-bottom: 30px;
}

.margin-b-40 {
    margin-bottom: 40px;
}

.margin-b-50 {
    margin-bottom: 50px;
}

.margin-b-60 {
    margin-bottom: 60px;
}

.margin-b-70 {
    margin-bottom: 70px;
}

.margin-b-100 {
    margin-bottom: 100px;
}

.margin-b-130 {
    margin-bottom: 130px;
}

.margin-b-180 {
    margin-bottom: 180px;
}

.margin-b-200 {
    margin-bottom: 200px;
}
